<header>
  <ul class="header-col">
    <li class="logo"><a href="/"><img src="/images/icon.png" width="32" height="32" alt="icon" /></a></li>
    <li class="title">{{title}}</li>
    <li class="site-name"><a href="/">グルメイヤー 管理</a></li>
  </ul>
</header>
