<div id="sidebar">

  <ul>
    <li>
      <h2>お知らせ設定</h2>
      <ul>
         <!-- 選択時 <li class="selected"><a href="#">グルメイヤーのお知らせ</a></li> -->
         <li class="selected"><a href="#">グルメイヤーのお知らせ</a></li>
         <li><a href="#">デカグラフのお知らせ</a></li>
      </ul>
    </li>

    <li>
      <h2>運営メニュー</h2>
      <ul>
         <li><a href="#">今日の三ツ星</a></li>
         <li><a href="#">トピックス設定</a></li>
         <li><a href="#">キャンペーン設定</a></li>
      </ul>
    </li>

    <li>
      <h2>データ管理</h2>
      <ul>
         <li><a href="#">店舗の追加</a></li>
         <li><a href="#">店舗の更新／削除</a></li>
         <li><a href="#">写真一覧</a></li>
      </ul>
    </li>

  </ul>

</div>
