<div id="content">
  <div class="post">
    <h2>Summary</h2>

    <ul class="two-column-table">
      <li>
        <dl>
          <dt>会員数</dt>
          <dd>{{members_num}}人</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>写真投稿数</dt>
          <dd>{{photos_num}}</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>リリースから</dt>
          <dd>{{past_days}}日経過</dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
